@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.sait {
  overflow: hidden;
}

button,
input {
  outline: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  font-family: "New Tegomin", serif;
  margin-bottom: 40px;
}

.header {
  margin-top: 30px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

.header__logo h2 {
  font-size: 25px;
  font-weight: 600;
  font-family: "New Tegomin", serif;
  color: white;
}

@media (max-width: 576px) {
  .header__navbar {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    right: -350px;
    background: rgba(198, 108, 73, 0.7);
    z-index: 90;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    border-left: solid 2px #c66c49;
  }
  .header__navbar.active {
    right: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .header__list {
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__item {
  list-style-type: none;
  margin-left: 30px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .header__item {
    margin-left: 0;
    margin-bottom: 25px;
  }
}

.header__link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.header__link:hover, .header__link.active {
  border-bottom: 2px solid white;
}

.header__popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 85;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: none;
}

.header__popup.active {
  display: block;
}

.header__burger {
  display: none;
  width: 45px;
  height: 45px;
  z-index: 95;
  position: relative;
  cursor: pointer;
}

@media (max-width: 576px) {
  .header__burger {
    display: block;
  }
}

.header__burger::after, .header__burger span, .header__burger::before {
  position: absolute;
  content: "";
  left: 2px;
  background: white;
  width: 40px;
  height: 3px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 1;
}

.header__burger::after {
  top: 10px;
}

.header__burger span {
  top: 20px;
}

.header__burger::before {
  top: 30px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-43deg);
          transform: rotate(-43deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  top: 20px;
}

.header__burger.active span {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header__burger.active::before {
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  top: 20px;
}

.footer {
  padding: 93px 0 0;
  background: #c66c49;
}

.footer .subtitle {
  color: white;
  text-align: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__network {
  list-style-type: none;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.footer__link img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.footer__link span {
  font-size: 18px;
  font-weight: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
}

.footer__info {
  background: url(../images/bg.webp);
  margin-top: 50px;
}

.footer__info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info p {
  color: white;
  font-size: 18px;
  font-weight: 0;
  font-family: "New Tegomin", serif;
}

.hero {
  margin-top: 100px;
  min-height: 570px;
}

.hero__bg {
  background: url(../images/bg.webp) center;
  background-size: cover;
  min-height: 768px;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .hero .container {
    text-align: center;
  }
}

.hero__title {
  font-size: 64px;
  font-weight: 400;
  font-family: "New Tegomin", serif;
  color: white;
  margin-bottom: 26px;
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 40px;
  }
}

.hero__description {
  font-size: 24px;
  font-weight: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  margin-bottom: 106px;
}

@media (max-width: 768px) {
  .hero__description {
    font-size: 20px;
  }
}

.hero__link {
  font-size: 20px;
  font-weight: 100;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  display: block;
}

.about {
  padding: 93px 0;
  min-height: 612px;
}

@media (max-width: 992px) {
  .about .subtitle {
    text-align: center;
    font-size: 26px;
    font-weight: 0;
    font-family: "Noto Sans JP", sans-serif;
  }
}

.about__text {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.skills {
  background: #f8e9d2;
  padding: 93px 0;
}

@media (max-width: 992px) {
  .skills .subtitle {
    text-align: center;
    font-size: 26px;
    font-weight: 0;
    font-family: "Noto Sans JP", sans-serif;
  }
}

.skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .skills__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills__photo {
  margin-right: 100px;
  max-width: 350px;
  height: 350px;
}

@media (max-width: 992px) {
  .skills__photo {
    margin: 0 auto 70px;
  }
}

@media (max-width: 576px) {
  .skills__photo {
    width: 320px;
    height: 320px;
  }
}

.skills__list {
  width: 635px;
}

@media (max-width: 992px) {
  .skills__list {
    margin: 0 auto;
    max-width: 505px;
  }
}

@media (max-width: 576px) {
  .skills__list {
    width: 320px;
  }
}

.skills__sections {
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .skills__sections {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .skills__sections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.skills__name {
  width: 30%;
  font-size: 18px;
  font-weight: 600;
  font-family: "New Tegomin", serif;
}

@media (max-width: 992px) {
  .skills__name {
    max-width: 30%;
  }
}

@media (max-width: 576px) {
  .skills__name {
    margin-bottom: 20px;
    font-size: 26px;
  }
}

.skills__description {
  font-size: 18px;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
}

.skills__design {
  width: 320px;
  background: #f5d6ab;
  height: 30px;
  position: relative;
}

.skills__design::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  background: #c66c49;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.portfolio {
  padding: 93px 0;
}

@media (max-width: 768px) {
  .portfolio .subtitle {
    text-align: center;
  }
}

.portfolio__name {
  font-size: 18px;
  font-weight: 600;
  font-family: "New Tegomin", serif;
  margin-bottom: 48px;
}

@media (max-width: 992px) {
  .portfolio__name {
    text-align: center;
    font-size: 26px;
  }
}

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .portfolio__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio__description {
  width: 320px;
  font-size: 18px;
  font-weight: 0;
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 992px) {
  .portfolio__description {
    margin-bottom: 40px;
  }
}

.portfolio__examples {
  width: 635px;
  height: 403px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .portfolio__examples {
    width: 316px;
    height: 200px;
  }
}

.portfolio__block:nth-child(1) {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__block:nth-child(1) img:nth-child(1) {
  width: 92%;
  height: 36%;
}

.portfolio__block:nth-child(1) img:nth-child(2) {
  width: 92%;
  height: 58%;
}

.portfolio__block:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  height: 100%;
}

.portfolio__block:nth-child(2) img:nth-child(1) {
  width: 100%;
  height: 58%;
}

.portfolio__block:nth-child(2) img:nth-child(2) {
  width: 100%;
  height: 36%;
}
/*# sourceMappingURL=index.css.map */