.about {
  padding: 93px 0;
  min-height: 612px;
  .subtitle {
    @include breakpoint(lg) {
      text-align: center;
      @include font($size: 26px, $weight: 0, $family: $noto);
    }
  }
  &__text {
    margin-bottom: 40px;
    @include font($size: 18px, $weight: 0, $family: $noto);
  }
}
