.hero {
  margin-top: 100px;
  min-height: 570px;
  &__bg {
    background: url(../images/bg.webp) center;
    background-size: cover;
    min-height: 768px;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    @include breakpoint(md) {
      text-align: center;
    }
  }
  &__title {
    @include font($size: 64px, $weight: 400, $family: $tegomin);
    color: white;
    margin-bottom: 26px;
    @include breakpoint(md) {
      font-size: 40px;
    }
  }
  &__description {
    @include font($size: 24px, $weight: 0, $family: $noto);
    color: white;
    margin-bottom: 106px;
    @include breakpoint(md) {
      font-size: 20px;
    }
  }
  &__link {
    @include font($size: 20px, $weight: 100, $family: $noto);
    color: white;
    display: block;
  }
}
