.portfolio {
  padding: 93px 0;
  .subtitle {
    @include breakpoint(md) {
      text-align: center;
    }
  }
  &__name {
    @include font($size: 18px, $weight: 600, $family: $tegomin);
    margin-bottom: 48px;
    @include breakpoint(lg){
      text-align: center;
      font-size: 26px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(lg){
      flex-direction: column;
    }
  }
  &__description {
    width: 320px;
    @include font($size: 18px, $weight: 0, $family: $noto);
    @include breakpoint(lg){
      margin-bottom: 40px;
    }
  }
  &__examples {
    width: 635px;
    height: 403px;
    display: flex;
    justify-content: space-between;
    @include breakpoint(md){
      width: 316px;
      height: 200px;
    }
  }
  &__block {
    &:nth-child(1) {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        &:nth-child(1) {
          width: 92%;
          height: 36%;
        }
        &:nth-child(2) {
          width: 92%;
          height: 58%;
        }
      }
    }
    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      height: 100%;
      img {
        &:nth-child(1) {
          width: 100%;
          height: 58%;
        }
        &:nth-child(2) {
          width: 100%;
          height: 36%;
        }
      }
    }
  }
  &__arrows {
    button {
    }
  }
}
