.skills {
  background: $pink;
  padding: 93px 0;
  .container {
  }
  .subtitle {
    @include breakpoint(lg) {
      text-align: center;
      @include font($size: 26px, $weight: 0, $family: $noto);
    }
  }
  &__content {
    display: flex;
    @include breakpoint(lg) {
      flex-direction: column;
    }
  }
  &__photo {
    margin-right: 100px;
    max-width: 350px;
    height: 350px;
    @include breakpoint(lg) {
      margin: 0 auto 70px;
    }
    @include breakpoint(sm) {
        width: 320px;
        height: 320px;
    }
  }
  &__list {
    width: 635px;
    @include breakpoint(lg) {
      margin: 0 auto;
      max-width: 505px;
    }
    @include breakpoint(sm) {
        width: 320px;
    }
  }
  &__sections {
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    @include breakpoint(lg) {
      justify-content: space-between;
    }
    @include breakpoint(sm) {
        flex-direction: column;
        text-align: center;
    }
  }
  &__name {
    width: 30%;
    @include font($size: 18px, $weight: 600, $family: $tegomin);
    @include breakpoint(lg) {
      max-width: 30%;
    }
    @include breakpoint(sm) {
        margin-bottom: 20px;
        font-size: 26px;
    }
  }
  &__description {
    @include font($size: 18px, $weight: 400, $family: $noto);
  }
  &__design {
    width: 320px;
    background: $orange-white;
    height: 30px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 70%;
      background: $orange;
      transition: 0.7s;
    }
  }
}
