.footer {
  padding: 93px 0 0;
  background: $orange;
  .subtitle {
    color: white;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-around;
  }
  &__network {
    list-style-type: none;
  }
  &__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    img {
      width: 50px;
      height: 50px;
      margin-bottom: 15px;
    }
    span {
      @include font($size: 18px, $weight: 0, $family: $noto);
      color: white;
    }
  }
  &__info {
    background: url(../images/bg.webp);
    margin-top: 50px;
    .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      min-height: 70px;
      justify-content: space-between;
    }
    p {
      color: white;
      @include font($size: 18px, $weight: 0, $family: $tegomin);
    }
  }
}
