.header {
  margin-top: 30px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
  }
  &__logo {
    h2 {
      @include font($size: 25px, $weight: 600, $family: $tegomin);
      color: white;
    }
  }
  &__navbar {
    @include breakpoint(sm){
      position: fixed;
      width: 300px;
      height: 100%;
      top: 0;
      right: -350px;
      background: rgba($orange, 0.7);
      z-index: 90;
      transition: 0.6s;
      border-left: solid 2px $orange;
      &.active {
        right: 0;
        transition: 0.6s;
      }
    }
  }
  &__list {
    display: flex;
    align-items: center;
    @include breakpoint(sm) {
      padding-top: 100px;
      flex-direction: column;
    }
  }
  &__item {
    list-style-type: none;
    margin-left: 30px;
    cursor: pointer;
    @include breakpoint(sm) {
      margin-left: 0;
      margin-bottom: 25px;
    }
  }
  &__link {
    color: white;
    text-decoration: none;
    @include font($size: 16px, $weight: 0, $family: $noto);
    &:hover, &.active {
      border-bottom: 2px solid white;
    }
  }
  &__popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 85;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.7);
    cursor: pointer;
    display: none;
    &.active {
      display: block;
    }
  }
  &__burger {
    display: none;
    width: 45px;
    height: 45px;
    z-index: 95;
    position: relative;
    cursor: pointer;
    @include breakpoint(sm) {
      display: block;
    }
    &::after, span, &::before {
      position: absolute;
      content: "";
      left: 2px;
      background: white;
      width: 40px;
      height: 3px;
      transition: 0.6s;
      opacity: 1;
    }
    &::after {
      top: 10px;
    }
    span {
      top: 20px;
    }
    &::before {
      top: 30px;
    }
    &.active {
      &::after {
        transform: rotate(-43deg);
        transition: 0.6s;
        top: 20px;
      }
      span {
        opacity: 0;
        transition: 0.6s;
      }
      &::before {
        transform: rotate(43deg);
        transition: 0.6s;
        top: 20px;
      }
    }
  }
}
