//----- import -----//
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

//----- variablse -----//
$dark: #333333;
$orange: #c66c49;
$pink: #f8e9d2;
$orange-white: #f5d6ab;
$noto: "Noto Sans JP", sans-serif;
$tegomin: "New Tegomin", serif;

//----- breakpoint -----//
@mixin breakpoint($point) {
  @if $point == xl {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $point == xs {
    @media (max-width: 360px) {
      @content;
    }
  }
}

// mixin
@mixin font($size, $weight, $family) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
}

// styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.sait {
  overflow: hidden;
}
button,
input {
  outline: none;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
.subtitle {
  @include font($size: 24px, $weight: 700, $family: $tegomin);
  margin-bottom: 40px;
}
